
.icon-ingredients:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-delete:before { content: '\e80a'; } /* '' */
.icon-recipe:before { content: '\e80b'; } /* '' */
.icon-recipe-name:before { content: '\f0f5'; } /* '' */