
@import "./styles/bulma/sass/utilities/initial-variables";

@import "./styles/bulma/bulma";

$a: 20px;
$bg: #eee;

html {
	background-color: $bg;
}

.btn {
	margin: $a * .3;
}

.btn:hover {
	border-color: $green;
}

.main {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 80%;
	width: 80%;
	right: 0; left: 0;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.margin {
	margin: $a * .2;
}

.ingBox {
	border: 1px solid $red;
	height: 100%;
	border-radius: 2px;
}

.padding {
	padding: $a*.2 0;
}

.flex-child {
	@extend .box;
	margin: 0 0;
	min-width: 50%;
}

.flex-form {
	display: flex;
	overflow: auto;
	flex-direction: column;
	height: 100%;
}

.auto-width {
	width: auto;
	display: inline-block;
}

.close {
	background-color: $bg;
}
