
@import "./styles/bulma/sass/utilities/initial-variables";

@import "./styles/bulma/bulma";

$a: 20px;
$bg: #eee;

html {
	background-color: $bg;
}

.btn {
	margin: $a * .3;
}

// .container {
// 	height: 100%; 
// 	width: 100%;
// }

.main {
	position: absolute;
	// top: 50%;
	// transform: translateY(-50%);
	height: 100%;
	width: auto;
	right: 0; left: 0;
	margin: auto;
}

.margin {
	margin: $a * .2;
}

.max-h {
	max-height: 90vh !important;
}

.ingBox {
	border: 1px solid $red;
	border-radius: 2px;
}

.padding {
	padding: $a*.2 0;
}

.auto-width {
	width: auto;
	display: inline-block;
}

.close {
	background-color: $bg;
}